.Message_data{data: {message: {id: message.id}}}
  .Message-info
    .Message-info__user-name 
      = message.user.name
    .Message-info__date 
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Message
    - if message.content.present?
      %p.Message__contents
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?